@model LMSMVC.Models.Student

@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_Layoutlibrarian.cshtml";
}
<br/>
<h2>Edit the User</h2>
<hr/>
<br/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @*<h4>Student</h4>
        <hr />*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.StudentId)

    <div class="form-group">
        @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StudentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StudentContact, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentContact, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentContact, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StudentEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--<div class="form-group row">
        <div class="col-2">-->
            @*@Html.ActionLink("Back to List", "UserModification")*@
            <!--<input style="margin:1px" type="button" class="btn btn-outline-dark" value="Back to List" onclick="location.href='@Url.Action( "UserModification")'" />

        </div>
        <div class="col-10">
            <input type="submit" value="Save" class="btn btn-outline-primary" />
        </div>

    </div>-->

    <div class="form-group row">
        <div class="col-md-10">

            <input style="margin:1px" type="submit" value="Save Changes" class="btn btn-outline-primary btn-block" />
        </div>
        <div>
            <input style="margin:1px" type="button" class="btn btn-outline-dark btn-block" value="Return Back" onclick="location.href='@Url.Action("UserModification")'" />
        </div>

    </div>


    <br />
</div>
}
<br/>


